/* Navigation  */
#navbar{
    /* flex-direction: column; */
    height: 50px;
}
#logo img {
    width: 50px;
    height: 35px;
    margin: 3px 0px;
}
#navbar ul li a{
    font-size: 14px;
    padding: 0px 7px;
    padding-bottom: 3px;
}
/* Home section */
#home{
    height: 380px;
    padding: 3px 28px;
}
#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}
/* Services section */
#services{
    flex-direction: column;

}

#services .box {
        padding: 14px;
        margin: 3px 0px;
        margin-bottom: 20px;
}
#services .box img{
    height:100px;
    width: 100px;
    
}

/* Clients section */
#clients{
    flex-wrap: wrap;
    height: auto;

}
#clients img{
    padding: 30px;
    height: 150px;
}
/* Contact us section */
#contact-box form{
    width: 80%;
}
/* Footer */
/* Utility classes */
.h-primary{
    font-size: 26px;
}

.h-secondary{
        font-size: 1.1rem;
    
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}